body {
    background: radial-gradient(ellipse at right bottom, #EEB1BF 5%, #d42dab 25%, #4d1d63 50%, #030243 100%);
    outline: white solid;
    margin: 25px;
    padding-top: 20px;
}

.stop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#stop {
    
    padding: 20px, 20px, 20px, 20px;
    margin: 20px, 20px, 20px, 20px;
    width: 60vw;
    height: 100vh;
}

.aday {
    text-align: center;
    color: white;
}