<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
 
</head>
<body>
    
<nav>
    <a href="/art" class=text-center>List of art (index)</a>

    <a href="/art/new" class=text-center>Add a new artwork</a>
</nav>

</body>
</html>