<%- include('./partials/header.ejs') %>
    <h1>New Product Page</h1>

    <form action="/art" method="POST">
      Name: <input type="text" name="name" /> <br/>
      Price:  <input type="text" name="price" /> <br/>
      

      <input type="submit" value="Create Product" />
    </form>
    <%- include('./partials/footer.ejs') %>