<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>STORE APP WITH MONGODB</title>
    <link rel="stylesheet" href="public/style.css">
  </head>
  <body>
    <h1>New Product Page</h1>

    <form action="/art" method="POST">
      Name: <input type="text" name="name" /> <br/>
      Price:  <input type="text" name="price" /> <br/>
      

      <input type="submit" value="Create Product" />
    </form>
  </body>
</html>